%form{:name => "local_storage_form", :method => "post", :action => "/keywords"}
  / %label{:for => "keyword"} (comma separation)
  %input{:type => "text", :name => "keyword", :id => "keyword", :class => "localStore", :value => ""}
  %input{:type => "reset", :value => "Clear"}
  %input{:type => "submit", :value => "Submit"} 
  %script{:src => "localstore.js"}
