%article.clearfix
  %a.icon <img src="http://a2.twimg.com/profile_images/525575524/14424182_2338889845.jpg" width="30" height="20" alt="color">
  %h2.name あああああああああああああああ
  .tweet
    %p 自信をすた事もさぞ今と自信をすた事もさぞ今と自信をすた事もさぞ今と自信をすた事もさぞ今と自信
