%h1 Masher*
%p#about twitterのハッシュタグを表示するイベント用出力ツールです。ハッシュタグをご入力ください。

%form{:action => "/", :method => "post"}
  %input#searchArea{:type => "search", :name => "hashtag"}
  %input{:type => "submit", :value => "view"}

%p#memeber <a href="#">About this Site</a>. Created by <a href="https://twitter.com/#!/satococoa">@satococoa</a> <a href="https://twitter.com/#!/milligramme">@milligramme</a>  <a href="https://twitter.com/#!/machida">@machida</a>  <a href="https://twitter.com/#!/9d">@9d</a> .
