!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    %link{:rel => "stylesheet", :href => "/common/index.css"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:src => "/script.js"}

  %body
    #main
      = yield
      
