#screen
  %h1 screen
  %p="hashtag : #{hashtag}"
  %input#hashtag{:type => 'hidden', :value => hashtag}

#colors    
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
  .color
    <img src="color.png" width="30" height="20" alt="color">
#article
  - 5.times do |i|
    = haml :_article
